:root {
    /*### ШРИФТЫ ###*/
    --maine-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;

    /*### политра ###*/

    /*цвет фона*/
    --body-bakeground-color: #E5E5E5;

    /*шапка*/
    --header-bakeground-color: #fff;
    --logo-color-left: #2196F3;
    --logo-color-right: #000;
    --text-menu-color: #212121;
    --text-menu-accent: #2196F3;
    --link-telephon-and-mail: #757575;
    --head-bottom-line: #ECECEC;

    /*герой*/
    --hero-bakeground-color: #2F303A;
    --button-color: #2196F3;
    --hero-text-color: #fff;

    /*особенности*/
    --feature-icon-box: #F5F4FA;
    --feature-head-color: #212121;
    --feature-text-color: #757575;

    /*чем мы занимаемся*/
    --wedo-htad-color: #212121;
    --wedo-lable-bg: rgba(47, 48, 58, 0.8);
    --wedo-lable-text: #ffffff;

    /*наша комвнда*/
    --team-bakeground-color: #F5F4FA;
    --team-head-color: #212121;
    --team-specialty-color: #757575;
    --team-card-bgcolor: #fff;
    --social-icon-color: #AFB1B8;

    /* постоянные клиенты */
    --clients-header: #212121;
    --clients-item-borter: #AFB1B8;
    --clients-item-border-accent: #2196F3;

    /*подвал*/
    --footer-bgcolor: #2F303A;
    --footer-logo-left: #2196F3;
    --footer-logo-right: #fff;
    --footer-address-location: #fff;
    --footer-address-contact: rgba(255, 255, 255, 0.6);
    --footer-social-title: #FFFFFF;
    --footer-social-icon: #FFFFFF;
    --footer-social-icon-round: rgba(255, 255, 255, 0.1);

    /*ПОРТФОЛИО*/

    /*cссылки навигации*/
    --portfolio-button-bgcolor: #F5F4FA;
    --portfolio-button-bgcolor-active: #2196F3;
    --portfolio-button-text-color: #212121;
    --portfolio-button-text-active-color: #fff;
    
    /*каталог портфолио*/
    --project-card-bgcolor: #fff;
    --project-card-border-color: #EEEEEE;
    --card-head: #212121;
    --card-text: #757575;
    --card-description-dg: rgba(33, 150, 243, 0.9);
    --card-description-text: #fff;
    
    /*модальное окно*/
    --backdrop-color:rgba(0, 0, 0, 0.2);
    --close-color: rgba(0, 0, 0, 0.1);
}
h1,h2,h3,h4,h5,h6,p,ul,li{
    margin: 0;
    padding: 0;
}
.conteiner {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/*===== шапка =====*/
.header {
    padding: 25px 0;
    border-bottom: 1px solid var(--head-bottom-line);
    background-color: var(--header-bakeground-color);
}
.header__box{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
/*навигация страницы*/
.navigation {
    margin: 0 305px 0 0;
}

/*логотип*/
.logo {
    margin-right: 93px;
    width: 145px;
}
.logo__link {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--logo-color-right);

}

/*левая часть логотипа*/
.logo__text--accent {
    color: var(--logo-color-left);
}

/*список сылок навигации*/
.navigation__list {
    display: inline-flex;
    width: 294px;

    padding: 0;
    margin: 0 0 0 0;

    list-style: none;
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
}
.navigation__item{
    position: relative;
}
/*элементы навигации*/
.navigation__item:not(:last-child) {
    margin-right: 50px;
}

/*ссылки навигации*/
.navigation__link {
    text-decoration: none;
    color: var(--text-menu-color);

}
.navigation__link::after{
    content: "";
    position: absolute;
    bottom: 0;
    transform: translateY(33px) scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: block;
    width: 100%;
    height: 4px;
    border-bottom: 4px;
    background-color: var(--text-menu-accent);
    border-radius: 2px;
}
.navigation__link:hover::after,
.navigation__link:focus::after{
    transform: translateY(33px) scaleX(1);
}

/*акценты*/
.navigation__link:hover, 
.navigation__link:focus{
    outline: none;
    color: var(--text-menu-accent);
}
.accent{
    color: var(--text-menu-accent);
}
.accent::after{
        content: "";
        position: absolute;
        bottom: 0;
        transform: translateY(33px) scaleX(1);
    
        display: block;
        width: 100%;
        height: 4px;
        border-bottom: 4px;
        background-color: var(--text-menu-accent);
        border-radius: 2px;
    }

/*контакты почта и телефон*/
.header__link {
    display: inline-flex;
    align-items: center;

    text-decoration: none;
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--link-telephon-and-mail);
}
.mail{
    margin-right: 30px;
}

.header__link:hover,
.header__link:focus {
    outline: none;
    color: var(--text-menu-accent);
}
.header__link-icon{
    fill:currentColor;
    margin-right: 10px;
}

/*===== ГЛАВНЫЙ КОНТЕНТ =====*/

/*герой*/
.hero-section{
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0;
    height: 600px;
    box-sizing: border-box;
    background-color: var(--hero-bakeground-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/hero_background/background.jpg)
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.hero__title {
    width: 696px;
    height: 120px;
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--hero-text-color);
    text-transform: uppercase;

    margin: 0 0 30px 0;
}
.hero__button {
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    background-color: var(--button-color);

}
.hero__button-text {
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    color: var(--hero-text-color);
}

/*секция особености*/
.features{
  padding-top: 94px;
}

/*скрытие заголовка*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/*список особенностей*/
.features__list {
    display: flex;
    padding-left: 0;
    list-style: none;
}
.features__item{
    width: 270px;
}
.features__item:not(:last-child) {
    margin-right: 30px;
}
.features__iconbox {
    display: inline-flex;
    width: 270px;
    background-color: var(--feature-icon-box);
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    
}
.features__item-head {
    margin-top: 30px;
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--feature-head-color);
}
.features__item-text {
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--feature-text-color);

    margin-top: 10px;
}

/*чем мы занимаемся*/
.wedo {
    padding: 94px 0;
}

/*заголовок секции*/
.wedo__head {
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--wedo-htad-color);
}
/*список секции*/
.wedo__list {
    display: flex;
    margin-top: 50px;
    list-style: none;
    padding-left: 0;
}
/*элемент списка*/
.wedo__item{
    position: relative;
    height: 294px;
    padding: 0;
}
.wedo__item:not(:last-child) {
    margin-right: 30px;
}
.wedo__item-lable {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px 0;
    background-color: var(--wedo-lable-bg);
}
.wedo__item-description {
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--wedo-lable-text);
}

/*наша команда*/
.our-team{
    padding: 94px 0;
    background-color: var(--team-bakeground-color);
}

.our-team__head {
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--team-head-color);
}
/*список наша команда*/
.oure-teame__list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
}

/*карточка участника команды*/
.oure-teame__card {
    width: 270px;
    

    background: var(--project-card-bgcolor);
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.oure-teame__card:not(:last-child){
    margin-right: 30px;
}
/*подпись карточки*/
.oure-teame__description{
    font-family: var(--maine-font);

    padding: 30px 0;

}
.oure-teame__card-head {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--team-head-color);
}
.oure-teame__card-text {
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--team-specialty-color);

    margin-top: 10px;
}
.oure-teame__social {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 16px;
}
.oure-teame__social-item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
}
.oure-teame__social-item:not(:last-child){
    margin-right: 10px;
}
.oure-teame__social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    /* padding: 12px; */
    background-color: transparent;
    border-radius: 50%;
    /*margin-right: 10px;*/
    color: var(--social-icon-color);
    transition-property: background-color,color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}
.oure-teame__social-link:focus,
.oure-teame__social-link:hover{
    outline: none;
    background-color: var(--text-menu-accent);
    color: var(--team-card-bgcolor);
}

.oure-teame__social-icon {
    fill: currentColor;
}

.clients {
    padding: 94px 0;
}
.clients__head {
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--clients-header);
}
.clients__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
}

.clients__item:not(:last-child) {
    margin-right: 30px;
}
.clients__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--clients-item-borter);

    width: 170px;
    height: 90px;
    border: 1px solid var(--clients-item-borter);
    box-sizing: border-box;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus{
    outline: none;
    color: var(--clients-item-border-accent);
    border-color: var(--clients-item-border-accent);
}
.clients__icon {
    fill: currentColor;
}

/*подвал*/
.footer{
    padding: 60px 0;
    font-family: var(--maine-font);

    background-color: var(--footer-bgcolor);
}
.footer__box{
    display: flex;
}
.footer__links{
    margin-right: 70px;
}

.footer__logo--accent {
    color: var(--footer-logo-left);
}
.footer__logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--footer-logo-right);
    
}
.footer__address-list {
    margin-top: 20px;
     list-style: none;
}
.footer__address-item{
    margin-top: 9px;
}
.footer__address-location{
    /* font-family: var(--maine-font); */
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--footer-address-location);

}
.footer__address-contact{
    /* font-family: var(--maine-font); */
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--footer-address-contact);
}

.footer__social {
    padding: 12px 0;
    /* outline: 1px solid tomato; */
}
.footer__social-title {
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--footer-social-title);
}
.footer__social-list {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
}
.footer__social-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
}
.footer__social-item:not(:last-child){
    margin-right: 10px;
}
.footer__social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    /* padding: 12px; */
    background-color: var(--footer-social-icon-round);
    border-radius: 50%;
    /*margin-right: 10px;*/
    color: var(--footer-social-icon);
    transition-property: background-color,color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}
.footer__social-link:focus,
.footer__social-link:hover{
    outline: none;
    background-color: var(--text-menu-accent);
}
.footer__social-icon {
    fill:currentColor;
}

/*############### ПОТФОЛИО ###############*/

.portfolio__section {
    padding: 94px 0;
}
/*навигация портфолио*/

.portfolio__navigation-list {
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: var(--maine-font);
    margin-bottom: 50px;
}
.portfolio__navigation-item:not(:last-child) {
    margin-right: 8px;
}
.portfoli__button {
    background: var(--portfolio-button-bgcolor);
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: var(--portfolio-button-text-color);
}
.portfoli__button:hover,
.portfoli__button:focus {
    outline: none;
    background: var(--portfolio-button-bgcolor-active);
    color: var(--portfolio-button-text-active-color);
}
/*индивидуальный стилизация*/
.all {
    width: 78px;
    height: 38px;
}
.web-site {
    width: 128px;
    height: 38px;
}
.application {
    width: 145px;
    height: 38px;
}
.design {
    width: 103px;
    height: 38px;
}
.marketing {
    width: 130px;
    height: 38px;
}

/*каталог портфолио*/

.pojects__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    font-family: var(--maine-font);
    list-style: none;
}
.project__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;

    width: 370px;
    height: 404px;
}

.card__link {
    display: block;
    text-decoration: none;
    background: var(--project-card-bgcolor);
    border: 1px solid var(--project-card-border-color);
    box-sizing: border-box;
}
.card__link:hover,
.card__link:focus{
    outline: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__link-thumb{
    position: relative;
    overflow: hidden;
}
.card__description {
    position: absolute;
    width: 370px;
    height: 294px;
    padding: 63px 24px;
    background-color: var(--card-description-dg);

    top: 100%;
    transition: transform 250ms;

    cursor: default;
}
.card__link:hover>.card__link-thumb>.card__description,
.card__link:focus>.card__link-thumb>.card__description{
    position: absolute;

    transform: translateY(-100%);
    transition: transform 250ms;
}
.card__description-text {
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--card-description-text);

    width: 322px;
    height: 168px;
}
.caption{
    padding: 20px 24px ;
}
.card__head {

    font-family: var(--maine-font);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    
    letter-spacing: 0.06em;
    color: var(--card-head);
}
.card__text {
    margin-top: 4px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--card-text);
}

/* ########### модальное окно ########### */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width:  100%;
    height: 100%; 

    opacity: 1;
    transform:  scale(1);
    transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1)250ms;
     
    background-color: var(--backdrop-color);
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 750ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-port {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1) perspective(500px) rotateY(0deg);
    transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;

    width: 528px;
    height: 581px;
    background-color: var(--hero-text-color);

    border-radius: 4px;
}
.round {
    position: fixed;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    
    /*z-index: 30px;*/

    border: 1px solid var(--close-color);
    border-radius: 50%;
    background-color: var(--logo-text-color);
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-icon {
    width: 12px;
    height: 12px;  
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}